---
import SideBarFooter from "./SideBarFooter.astro";
import SideBarMenu from "./SideBarMenu.astro";
const { sideBarActiveItemID } = Astro.props;
---

<div class="drawer-side z-40">
  <label for="my-drawer" class="drawer-overlay"></label>
  <aside class="px-2 pt-2 h-auto min-h-full w-[19rem] bg-base-200 text-base-content flex flex-col">
    <div class="w-fit mx-auto mt-5 mb-6">
      <a href={import.meta.env.BASE_URL}>
        <div class="avatar transition ease-in-out hover:scale-[102%] block m-auto">
            <div class="w-[8.5rem]">
              <picture>
                <source srcset={`${import.meta.env.BASE_URL}/profile.jpg`} type="image/jpeg" />
                <source srcset={`${import.meta.env.BASE_URL}/profile.png`} type="image/png" />
                <img class="mask mask-circle" src={`${import.meta.env.BASE_URL}/profile.webp`} alt="Profile image" width="300" height="300" loading="eager" />
              </picture>
            </div>
        </div>
      </a>
    </div>
    <div class="text-center mb-4">
      <a href={import.meta.env.BASE_URL} class="no-underline">
        <div class="font-bold text-lg">Abhishek Singh</div>
        <div class="text-sm text-muted">Backend Engineer</div>
      </a>
    </div>
    <SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />
    <SideBarFooter />
  </aside>
</div>
